body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Created by Muhammed Ebrahim */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.commonButton{
  background-color: transparent !important;
  transition: ease-in-out 0.3s;
  border: 1.5px solid !important;
  border-radius: 0px !important;
  transform: skew(-10deg) !important;
}

.commonButton:hover{
  background-color: rgb(174 15 71) !important;
}

.carouselContainer a{
  width: 8%;
}

.carouselContainer li{
  width: 15px;
  height: 15px;
  border-radius: 10px !important;
}

.carouselContainer .carousel-caption {
  position: absolute;
  right: 47%;
  /* top: 56%; */
  bottom: 50%;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.carouselContainer .carousel-caption h3{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-bottom: 8px;
  font-weight: 500;
}

.carouselContainer .carousel-caption a:hover{
  background-color: "red";
  color: red;
  text-decoration: none;
}
/* Created by Muhammed Ebrahim */